@model Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form action="@Url.Action("Create", "Posts")" method="post" >
    @Html.ValidationSummary(true)
	@Html.Partial("_CreateOrEdit", Model)
    @Html.Submit("Create")
</form>

<div class="actions">
    @Html.ActionLink("Back to List", "Index")
</div>