@using SimpleCMS.Helpers
@model List<Post>

@{
    ViewBag.Title = "Search";
}

@using (Html.BeginForm("Search", "Posts", FormMethod.Get)) {
    @Html.TextBox("query")
    @Html.Submit("Search")
}

<p>Total @Model.Count @("Post".Pluralize(@Model.Count)) found</p>

@foreach (Post item in Model)
{
    <div class="search-result">
        @Html.ActionLink(item.Title, "Details", new { id = item.Id })<br />
        @Html.PostSearchResult(item, ViewBag.Query as string);
    </div>
}