<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    @MvcHtmlString.Create(
      SquishIt.Framework.Bundle.Css()
        .Add("~/Content/Site.css")
        .Add("~/Content/DataAnnotations.css")
        .Render("~/Content/combined_#.css"))

    @MvcHtmlString.Create(
      SquishIt.Framework.Bundle.JavaScript()
        .Add("~/Scripts/jquery-1.4.4.min.js")
        .Add("~/Scripts/helpers.js")
        .Render("~/Scripts/combined_#.js"))
</head>
<body>
    <div class="top">
        <div class="top-container">
            <div class="logo">
                @Html.ActionLink("SimpleCMS", "Index", "Home")
            </div>
            <div class="menu">
                <ul>
                    <li>@Html.ActionLink("Search", "Search", "Posts")</li>
                    <li>@Html.ActionLink("Accounts", "Index", "Accounts")</li>
                    <li>@Html.ActionLink("Posts", "Index", "Posts")</li>
                </ul>
                <div class="clear">
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
    <div class="middle">
        <div class="content">
            <div class="messages">
                <div class="notice">
                    Notification
                </div>
                <div class="error">
                    Error
                </div>
            </div>
            @RenderBody()
        </div>
    </div>
    <div class="footer"></div>
</body>
</html>