@model IEnumerable<SimpleCMS.Models.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Email Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
			@item.Email
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
            &nbsp;|&nbsp;
            @Html.DeleteLink("Delete", @item.Id, @item.Email)
        </td>
    </tr>
}
</table>

<div class="actions">
    @Html.ActionLink("New Record", "Create")
</div>