@model IEnumerable<Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <th>
            Email Address
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
			@item.Email
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id })
            &nbsp;|&nbsp;
            <form action="@Url.Action("Destroy", "Accounts", new { @id = @item.Id })" method="post" > 
                <input type="hidden" name="_method" value="delete" />
                <a onclick="parentNode.submit();">Delete</a>
            </form>
        </td>
    </tr>
}
</table>

<div class="actions">
    @Html.ActionLink("New Record", "New")
</div>